@using Controle_de_Medicamentos.ConsoleApp.SupplierModule
@{
    Supplier s = ViewBag.Supplier;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Editar Fornecedor - Controle de Medicamentos</title>
</head>

<body>
    <h1>Controle de Medicamentos</h1>

    <hr />

    <a href="/">Página Inicial</a> /
    <a href="/suppliers/add">Cadastrar novo fornecedor</a> /
    <a href="/suppliers/show">Visualizar fornecedores</a>

    <hr />

    <h3>Editar Fornecedor</h3>

    <form action="/suppliers/edit/@s.Id" method="post">
        <label>Nome do fornecedor:</label>
        <br />
        <input type="text" name="name" value="@s.Name" />

        <br />

        <label>Telefone do fornecedor:</label>
        <br />
        <input type="text" name="phoneNumber" value="@s.PhoneNumber" />

        <br />

        <label>CNPJ do fornecedor:</label>
        <br />
        <input type="text" name="cnpj" value="@s.CNPJ" />
        <hr />

        <button type="submit">Gravar</button>
    </form>
</body>
</html>