@using Controle_de_Medicamentos.ConsoleApp.Models
@model EditSupplierViewModel;
@{
    ViewBag.Title = "Editar Fornecedor";
}
<header>
    <h3>Editar Fornecedor</h3>
</header>

<main>
    <div class="form-container">
        <form action="/supplier/edit/@Model.Id" method="post">
            <label>Nome do fornecedor:</label>
            <input type="text" name="name" value="@Model.Name" />

            <label>Telefone do fornecedor:</label>
            <input type="text" name="phoneNumber" value="@Model.PhoneNumber" />

            <label>CNPJ do fornecedor:</label>
            <input type="text" name="cnpj" value="@Model.CNPJ" />

            <div class="button-group">
                <a type="button" class="button" id="backButton" href="/supplier/show">Voltar</a>
                <button type="submit" class="button" id="confirmButton">Confirmar</button>
            </div>
        </form>
    </div>
</main>