@using Controle_de_Medicamentos.ConsoleApp.Models
@model ShowSuppliersViewModel;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Visualizar Fornecedores - Controle de Medicamentos</title>
</head>

<body>
    <h1>Controle de Medicamentos</h1>

    <hr />

    <a href="/">Página Inicial</a> /
    <a href="/supplier/add">Cadastrar novo fornecedor</a> /

    <hr />

    <h3>Visualizar Fornecedores</h3>

    <ul>
        @foreach (SupplierDetailsViewModel s in Model.List)
        {
            <li>
                @s.ToString() / <a href="/supplier/edit/@s.Id">Editar</a> /
                <a href="/supplier/remove/@s.Id">Remover</a>
            </li>
        }
    </ul>
</body>
</html>
