@using Controle_de_Medicamentos.ConsoleApp.Models
@model EditPatientViewModel;
@{
    ViewBag.Title = "Editar Paciente";
}
<header>
    <h3>Editar Paciente</h3>
</header>

<main>
    <div class="form-container">
        <form action="/patient/edit/@Model.Id" method="post">
            <label>Nome do paciente:</label>
            <input type="text" name="name" value="@Model.Name" />

            <label>Telefone do paciente:</label>
            <input type="text" name="phoneNumber" value="@Model.PhoneNumber" />

            <label>Cartão SUS do paciente:</label>
            <input type="text" name="susCard" value="@Model.SUSCard" />

            <div class="button-group">
                <a type="button" class="button" id="backButton" href="/patient/show">Voltar</a>
                <button type="submit" class="button" id="confirmButton">Confirmar</button>
            </div>
        </form>
    </div>
</main>