@using Controle_de_Medicamentos.ConsoleApp.Models
@model RemovePatientViewModel;
@{
    ViewBag.Title = "Remover Paciente";
}
<header>
    <h3>Remover Paciente</h3>
</header>

<main>
    <div class="form-container">
        <form action="/patient/remove/@Model.Id" method="post">
            <p>Você tem certeza que deseja excluir o registro "@Model.Name"?</p>
            <div class="button-group">
                <a type="button" class="button" id="backButton" href="/patient/show">Voltar</a>
                <button type="submit" class="button" id="confirmButton">Confirmar</button>
            </div>
        </form>
    </div>
</main>
