@using Controle_de_Medicamentos.ConsoleApp.Models
@model RemovePatientViewModel;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Remover Paciente - Controle de Medicamentos</title>
</head>

<body>
    <h1>Controle de Medicamentos</h1>

    <hr />

    <a href="/">Página Inicial</a> /
    <a href="/patient/add">Cadastrar novo paciente</a> /
    <a href="/patient/show">Visualizar pacientes</a>

    <hr />

    <h3>Remover Paciente</h3>

    <p>Você tem certeza que deseja excluir o registro "@Model.Name"?</p>

    <form action="/patient/remove/@Model.Id" method="post">
        <button type="submit">Confirmar</button>
        <a href="/patient/show">Voltar</a>
    </form>
</body>
</html>
