@using Controle_de_Medicamentos.ConsoleApp.Models
@model ShowPatientsViewModel;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Visualizar Pacientes - Controle de Medicamentos</title>
</head>

<body>
    <h1>Controle de Medicamentos</h1>

    <hr />

    <a href="/">Página Inicial</a> /
    <a href="/patient/add">Cadastrar novo paciente</a> 

    <hr />

    <h3>Visualizar Pacientes</h3>

    <ul>
        @foreach (PatientDetailsViewModel p in Model.List)
        {
            <li>
                @p.ToString() / <a href="/patient/edit/@p.Id">Editar</a> /
                <a href="/patient/remove/@p.Id">Remover</a>
            </li>
        }
    </ul>
</body>
</html>
