@using Controle_de_Medicamentos.ConsoleApp.Models
@model AddMedicationViewModel
@{
    ViewBag.Title = "Cadastrar Medicamento";
}
<header>
    <h3>@ViewBag.Title</h3>
</header>

<main>
    <div class="form-container">
        <form action="/medication/add" method="post">
            <label for="Name">Nome do medicamento:</label>
            <input type="text" name="Name" id="Name" />

            <label for="Description">Descrição do medicamento:</label>
            <input type="text" name="Description" id="Description" />

            <label for="Quantity">Quantidade do medicamento:</label>
            <input type="text" name="Quantity" id="Quantity" />

            <label for="SupplierId">Fornecedor do medicamento</label>
            <select name="SupplierId" id="SupplierId">
                @foreach (var supplier in @Model.AvailableSuppliers)
                {
                    <option value="@supplier.Id">@supplier.Name</option>
                }
            </select>

            <div class="button-group">
                <a type="button" class="button" id="backButton" href="/medication/show">Voltar</a>
                <button type="submit" class="button" id="confirmButton">Confirmar</button>
            </div>
        </form>
    </div>
</main>
