@using Controle_de_Medicamentos.ConsoleApp.Models
@model RemoveMedicationViewModel;
@{
    ViewBag.Title = "Remover Medicamento";
}
<header>
    <h3>@ViewBag.Title</h3>
</header>

<main>
    <div class="form-container">
        <form action="/supplier/remove/@Model.Id" method="post">
            <p>Você tem certeza que deseja excluir o registro "@Model.Name"?</p>
            <div class="button-group">
                <a type="button" class="button" id="backButton" href="/medication/show">Voltar</a>
                <button type="submit" class="button" id="confirmButton">Confirmar</button>
            </div>
        </form>
    </div>
</main>