@using Controle_de_Medicamentos.ConsoleApp.Models
@model ShowMedicationsViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Visualizar Medicamentos - Controle de Medicamentos</title>
</head>

<body>
    <h1>Controle de Medicamentos</h1>

    <hr />

    <a href="/">Página Inicial</a> /
    <a href="/medication/add">Cadastrar novo medicamento</a> 

    <hr />

    <h3>Visualizar Medicamentos</h3>

    <ul>
        @foreach (var m in Model.List)
        {
            <li>
                @m.ToString() / <a href="/medication/edit/@m.Id">Editar</a> /
                <a href="/medication/remove/@m.Id">Remover</a>
            </li>
        }
    </ul>
</body>
</html>
