<!DOCTYPE html>
<html>
<!--Contém metadados (dados sobre os dados) da página HTML-->
<head>
    <meta charset="utf-8" />
    <title>Controle de Medicamentos</title>
</head>

<!--Contém o conteúdo da página HTML-->
<body>
    <h1>Controle de Medicamentos</h1>

    <hr />

    <a href="/">Página Inicial</a> /

    <hr />

    <h3>Fornecedores</h3>

    <!--Lista desordenada / bullet points-->
    <ul>
        <li><a href="/supplier/add">Cadastrar novo fornecedor</a></li>
        <li><a href="/supplier/show">Visualizar fornecedores</a></li>
    </ul>

    <hr />

    <h3>Funcionários</h3>
    <ul>
        <li><a href="/employee/add">Cadastrar novo funcionário</a></li>
        <li><a href="/employee/show">Visualizar funcionários</a></li>
    </ul>

    <hr />

    <h3>Pacientes</h3>
    <ul>
        <li><a href="/patient/add">Cadastrar novo paciente</a></li>
        <li><a href="/patient/show">Visualizar pacientes</a></li>
    </ul>

    <hr />

    <h3>Medicamentos</h3>
    <ul>
        <li><a href="/medication/add">Cadastrar novo medicamento</a></li>
        <li><a href="/medication/show">Visualizar medicamentos</a></li>
    </ul>

</body>
</html>
