@{
    ViewBag.Title = "Página Inicial";
}

<header>
    <h3>Página Inicial</h3>
</header>


<main>
    <a href="/supplier/show">
        <div class="card">
            <h2>Fornecedores</h2>
            <p>Gerenciar forncedores</p>
        </div>
    </a>

    <a href="/employee/show">
        <div class="card">
            <h2>Funcionários</h2>
            <p>Gerenciar funcionários</p>
        </div>
    </a>

    <a href="/patient/show">
        <div class="card">
            <h2>Pacientes</h2>
            <p>Gerenciar pacientes</p>
        </div>
    </a>

    <a href="/medication/show">
        <div class="card">
            <h2>Medicamentos</h2>
            <p>Gerenciar medicamentos</p>
        </div>
    </a>
</main>

