@using Controle_de_Medicamentos.ConsoleApp.Models
@model NotificationViewModel;
@{
    ViewBag.Title = Model.Title;
}
<div class="content-container">
    <main>
        <div class="card">
            <h2>Notificação</h2>
            <p>@Model.Message</p>
        </div>
    </main>
</div>