@using Controle_de_Medicamentos.ConsoleApp.Models
@model NotificationViewModel;
@{
    ViewBag.Title = Model.Title;
}

<header><h3>Notificação</h3></header>

<main>
    <div class="card">
        <h2>-=+=-</h2>
        <p>@Model.Message</p>
        <div class="centered-button-group">
            <a type="button" class="button" id="defaultButton" href="/">Voltar</a>
        </div>
    </div>
</main>
