@using Controle_de_Medicamentos.ConsoleApp.Models
@model AddEmployeeViewModel;
@{
    ViewBag.Title = "Cadastrar Funcionário";
}
<header>
    <h3>@ViewBag.Title</h3>
</header>

<main>
    <div class="form-container">
        <form action="/employee/add" method="post">
            <label>Nome do funcionário:</label>
            <input type="text" name="name" />

            <label>Telefone do funcionário:</label>
            <input type="text" name="phoneNumber" />

            <label>CPF do funcionário:</label>
            <input type="text" name="cpf" />

            <div class="button-group">
                <a type="button" class="button" id="backButton" href="/employee/show">Voltar</a>
                <button type="submit" class="button" id="confirmButton">Confirmar</button>
            </div>
        </form>
    </div>
</main>