@using Controle_de_Medicamentos.ConsoleApp.Models
@model EditEmployeeViewModel;
@{
    ViewBag.Title = "Editar Funcionário";
}
<header>
    <h3>@ViewBag.Title</h3>
</header>

<main>
    <div class="form-container">
        <form action="/employee/edit/@Model.Id" method="post">
            <label>Nome do funcionário:</label>
            <input type="text" name="name" value="@Model.Name" />

            <label>Telefone do funcionário:</label>
            <input type="text" name="phoneNumber" value="@Model.PhoneNumber" />>

            <label>CPF do funcionário:</label>
            <input type="text" name="cpf" value="@Model.CPF" />

            <div class="button-group">
                <a type="button" class="button" id="backButton" href="/employee/show">Voltar</a>
                <button type="submit" class="button" id="confirmButton">Confirmar</button>
            </div>
        </form>
    </div>
</main>