@using Controle_de_Medicamentos.ConsoleApp.Models
@model ShowEmployeesViewModel;
@{
    ViewBag.Title = "Funcionários";
}
<header>
    <h3>@ViewBag.Title</h3>
</header>

<main>
    @foreach (EmployeeDetailsViewModel e in Model.List)
    {
        <div class="view-container">
            <div class="view-card">
                <h2>@e.Name</h2>

                <p><strong>Telefone:</strong> @e.PhoneNumber</p>
                <p><strong>CPF:</strong> @e.CPF</p>
                <div class="button-group">
                    <a type="button" class="button" id="defaultButton" href="/employee/edit/@e.Id">Editar</a>
                    <a type="button" class="button" id="defaultButton" href="/employee/remove/@e.Id">Remover</a>
                </div>
            </div>
        </div>
    }
    <a href="/employee/add" type="button" class="button" id="addButton">
        <img class="plus-icon" src="~/assets/plus-svgrepo-com.svg" />
    </a>
</main>


