@using Controle_de_Medicamentos.ConsoleApp.Models
@model ShowEmployeesViewModel;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Visualizar Funcionários - Controle de Medicamentos</title>
</head>

<body>
    <h1>Controle de Medicamentos</h1>

    <hr />

    <a href="/">Página Inicial</a> /
    <a href="/employees/add">Cadastrar novo funcionário</a> /

    <hr />

    <h3>Visualizar Funcionários</h3>

    <ul>
        @foreach (EmployeeDetailsViewModel e in Model.List)
        {
            <li>
                @e.ToString() / <a href="/employees/edit/@e.Id">Editar</a> /
                <a href="/employees/remove/@e.Id">Remover</a>
            </li>
        }
    </ul>
</body>
</html>
